// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0F7373;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #A9D9D0;
$gray: #0E0000;
$light-gray: #F4F4F4;
$beige: #F2E7DC;
$lighter-gren: #038C7f;
