<%= render "shared/top_header", titre: 'Modification'%>

<div class="form-div mt-5 py-5">
  <%= simple_form_for [@suggestion, @comment], html: {class:"form-mobile"} do |f| %>
    <%= f.input :content, as: :text, label:"Votre commentaire" %>
    <%= f.submit "Valider", class:'btn btn-primary mt-5 w-100' %>
  <% end %>
</div>
