<div class="dashboard-container">

  <div class="dashboard-top">
    <%= render 'city/shared/dashboard_top', page_title: "Bonjour, #{ current_user.first_name }" %>
  </div>

  <div class="main-dashboard">

    <div class="left-nav">
      <%= render 'city/shared/left_navbar' %>
    </div>

    <div class="-dashboard">

    </div>

  </div>


</div>
