<div class="dashboard-container">

  <div class="dashboard-top">
    <%= render 'city/shared/dashboard_top', page_title: "Suggestions des citoyens" %>
  </div>

  <div class="main-dashboard">
    <div class="left-nav">
      <%= render 'city/shared/left_navbar' %>
    </div>

    <div class="right-dashboard">
    </div>

  </div>


</div>
