<div class="container">
  <div class="back">
    <%= link_to users_path do %>
      <i class="fa-solid fa-angle-left"></i>
    <% end %>

  <div class="form-div">
      <%= render "form", user: @suggestion %>

  </div>
  </div>
</div>
