<div class="full-screen">

  <%= render "shared/top_header", titre: "Bonjour, #{@user.first_name}" %>


  <div class="container">

    <p class= "user-score">Vos punctum : <%= @user.score %></p>
    <h2 class="text-center"><i class="fa-solid fa-scroll"></i> Vos suggestions</h2>

    <%= render "shared/card_suggestion", suggestions: @suggestions%>

  </div>
</div>

<%= render "shared/btm_navbar" %>
