<div class="container">
  <% @users.each do |user| %>
  <hr>
    <div class="card-user">
      <div class="card-body">
        <div class="card-left-info">
          <%= user.avatar.attached? ? (cl_image_tag user.avatar.key, class: 'avatar') : (image_tag "avatar.png", class: 'avatar') %>
          <p><%= user.first_name %> <%= user.last_name %></p>
        </div>
          <div class="card-right-info">
            <p><%= user.score %>pts</p>
            <i class="fa-solid fa-arrow-trend-up arrow"></i>
          </div>
        </div>
      </div>
    <% end %>
</div>
