<% @users.each do |user| %>
 <div class="card user">
      <div class="card-body user">
      <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
      <h5><%= user.first_name %></h5>
      <p> Score: <%= user.score %></p>
    </div>
  </div>
<% end %>
