<footer>

  <section class="d-flex justify-content-center justify-content-sm-between p-4 border-bottom border-top">
    <div class="me-2 text-center d-lg-block">

        <%= link_to " Home ", root_path ,class: "btn fa-solid fa-house" %>
      </div>
      <div class="me-2 text-center d-lg-block">
        <%= link_to " Suggestion", suggestions_path , class: "btn fa-solid fa-note-sticky"  %>
      </div>
      <div class="me-2 text-center d-lg-block">
        <%= link_to " Profil", "#", class: "fa-solid fa-user" %>
      </div>
  </section>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    &copy; 2022 Copyright:
    <a>Populum</a>
  </div>
</footer>
