<div class="top-header">
  <% if user_signed_in? && current_user.avatar.attached? %>
    <%= cl_image_tag current_user.avatar.key, class: 'avatar' %>
  <% elsif user_signed_in?%>
    <%= image_tag "avatar.png", class: 'avatar' %>
  <% end %>
  <h1> <%= titre %> </h1>
</div>
