<div class="container">
  <h2 class="text-center">Top suggestions :</h2>
  <%= render "shared/card_suggestion", suggestions: @suggestions%>
  <%= link_to "Voir plus...", suggestions_path %>
<hr>
  <h2 class="text-center"> Top Populumers :</h2>
  <%= render "shared/card_user", users: @users %>
  <hr>
</div>
