<div class='nested-fields box' data-controller='dynamic-select'>
  <div class='form-group'>
  <div class='form-group'>
    <%= form.hidden_field :_destroy %>
    <%= form.text_field :title, placeholder: 'Question', class: 'form-control' %>
    <small>
      <%= link_to "Remove", "#", data: { action: "click->nested-form#remove_association" } %>
    </small>
  </div>
