.card-comment {
  margin: 0px;
  padding-left: 15px;
  ;

  p {
    // padding: 0px;
    // margin: 0px;
  }

  .card-body {
    // display: flex;
    // // justify-content: space-between;
    // align-items: center;
    // padding: 0px;
    // margin: 0px;
  }

  .ok{
    display: flex;
    justify-content: flex-start;

  }
  // .card-left-info {
  //   display: flex;
  //   align-items: center;
  //   height: 100%;
  // }



  // .card-left-info p {
  //   margin-left: 20px;
  // }

  // .arrow {
  //   color: green;
  // }

}
