.card-suggestion {

  background: $beige;
  margin-bottom: 15px;
  border-radius: $border-radius;
  height: auto;
  padding: 30px;
  box-shadow: 1px 1px 4px lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h5 {
    margin: 0px 0px 0px 10px;
  }

  p {
    margin: 0px;
  }

  .votes {
    color: $lighter-green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 0;
    height: 100%;
    i {
      font-size: 30px;
      font-weight: 20px;
    }
    p {
      font-size: 16px;
    }
  }
  .card-suggestion-top {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
  }

  .card-suggestion-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .voir-plus{
    color: darkgrey;
    font-style: italic;
  }

  .card-suggestion-left{
    flex-grow: 1;
  }

  button{
    border: none;
    background-color: none;
  }
}
