.card-suggestion {
  background: $beige;
  margin-bottom: 5px;
  border-radius: $border-radius;
  height: auto;
  padding: 20px;
  box-shadow: 0 0 9 0 #0000001A;
  position: relative;

  .votes {
   color: $lighter-green;
  }

  h5 {
   font-size: 18px;
  }

 p {
   font-size: 14px;
   margin: 0px;
  }
}
