.card-user {
  margin: 0px;
  padding: 5px;

  p {
    padding: 0px;
    margin: 0px;
  }

  .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
  }

  .card-left-info {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .card-right-info {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .card-right-info p {
    margin-right: 20px;
  }

  .card-left-info p {
    margin-left: 20px;
  }

  .arrow {
    color: green;
  }

}
