.dashboard-container{
  margin: 10px;
  overflow: hidden;
}

.main-dashboard{
  height: 88vh;
  width: 100%;
  display: flex;
  padding: 3px;
  justify-content: space-between;
  width: 100vw;
}


.right-dashboard{
  display: flex;
  justify-content: space-around;
  flex-shrink: 1000 ;
  padding-top: 20px;

  .center-dashboard{
    height: 100%;
    width: 50%;
    padding-right: 2px;
    overflow: scroll;
    border-right: solid;
    flex-shrink: 1;
    padding: 10px;
  }

  .far-right-dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    width: 50%;
    height: 100%;
    overflow: scroll;
    padding: 10px;
  }
}
