.dashboard-container{
  margin: 10px;
  overflow: hidden;
}

.main-dashboard{
  height: 88vh;
  width: 90%;
  display: flex;
}

.right-dashboard{
  padding: 20px;
  border: solid;
  display: flex;


  .center-dashboard{
    height: 100%;
    width: 50%;
    padding-right: 2px;
    overflow: scroll;
    border-right: solid;
    flex-shrink: 1;
  }

  .far-right-dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    width: 50%;
    height: 100%;
    overflow: scroll;
  }
}
