.form-div{
  margin: 20px;
  justify-content: center;

  h2{
    margin: 30px 0px 20px 0px;
  }

}

.form-mobile{

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  label {
    margin-top: 10px;
    font-size: 18px;
  }

  input {
    margin-top: 5px;
  }

  #comment_content{
    height: 160px;
  }
}
