.form-desktop{
  text-align: left;
  background-color: white;
  border-radius: 8px;
  width:800px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px 50px;

  h1 {
    text-align: center;
  }

  a {
    text-align: center;
  }

  .box{
    border:solid;
    border-radius: 8px;
    border-color: lightgray;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  input{
    margin-top: 10px ;
    margin-bottom: 10px ;
  }
}
