.horizontal-scroll {
  display: flex;
  overflow-x:scroll;
  overflow-y: hidden;
  height: 180px;
  margin-bottom: 20px;

  .card-suggestion {
    min-width: 80%;
    margin-left: 0px;
    padding: 8px 1px 9px 18px;

    h5{
      font-size: 18px;
    }
  }

  .card-suggestion-top {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
  }

  .votes {
    padding: 30px 10px 30px 10px;
  }

}
