.btm-navbar{
  position: sticky;
  bottom: 0px;
  background-color: $blue; //blue is the new green
  height:50px;
  padding: 5px 60px 5px 60px;
  color: rgba(180, 180, 180, 0.648);


  .navbar-btn{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
  }

  .navbar-btn p{
    margin-top: 5px;
    font-size: 10px;
    margin-bottom: 0px;
  }

  .active {
    color: white;
  }

}
