.top-header{
  width: 100%;
  background-color: $blue; //blue is the new green
  color: white;
  padding: 5px 10px 5px 10px;
  margin-bottom: 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
