// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "components/card-suggestion";
@import "components/card-user";
@import "components/header_user";
@import "components/card-comment";
@import "components/add-btn";




// POUR QUE LES LIENS NE SOIENT PAS BLEUS
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  &:hover {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }
}

hr {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: white;
}

.full-screen{
  min-height: 100vh;
}
