<h1>Suggestions</h1>

<ul>
  <% @suggestions.each do |suggestion| %>
  <li><%= suggestion.title %> </li>
  <% end %>
</ul>

<%= link_to 'Back', url_for(:back), class: "btn btn-outline-primary mb-3" %>
