<div class="container p-3">
  <div class="form-div">
    <h2 class="pt-4"> Nouvelle suggestion :</h2>
      <div class="form-div">
        <%= render "form", suggestion: @suggestion %>
      </div>
    </div>
</div>
