<%= render "shared/top_header", titre: 'Nouvelle suggestion'%>

<div class="container p-3">
  <%= link_to "Back", suggestions_path %>

  <div class="form-div">
    <%= render "form", suggestion: @suggestion %>
  </div>

</div>
