<div class="container">

  <div class="form-div">
    <h2 class="pt-4"> Ajouter une nouvelle Suggestion</h2>
        <%= render "form", suggestion: @suggestion %>
        <%= link_to "Back", suggestions_path %>
    </div>
  </div>
